@font-face {
	font-family: "Flaticon";
	src: url("/css/fonts/Flaticon_WebFont/flaticon.eot");
	src: url("/css/fonts/Flaticon_WebFont/flaticon.eot#iefix") format("embedded-opentype"),
	url("/css/fonts/Flaticon_WebFont/flaticon.woff") format("woff"),
	url("/css/fonts/Flaticon_WebFont/flaticon.ttf") format("truetype"),
	url("/css/fonts/Flaticon_WebFont/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	line-height: 0px;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-style: normal;
}
.flaticon-authorship:before {
	content: "\e000";
}
.flaticon-binoculars5:before {
	content: "\e001";
}
.flaticon-calculator1:before {
	content: "\e002";
}
.flaticon-car21:before {
	content: "\e003";
}
.flaticon-car80:before {
	content: "\e004";
}
.flaticon-delivery8:before {
	content: "\e005";
}
.flaticon-envelope18:before {
	content: "\e006";
}
.flaticon-envelope20:before {
	content: "\e007";
}
.flaticon-envelope22:before {
	content: "\e008";
}
.flaticon-fax:before {
	content: "\e009";
}
.flaticon-fire14:before {
	content: "\e00a";
}
.flaticon-license:before {
	content: "\e00b";
}
.flaticon-male58:before {
	content: "\e00c";
}
.flaticon-men1:before {
	content: "\e00d";
}
.flaticon-office:before {
	content: "\e00e";
}
.flaticon-open116:before {
	content: "\e00f";
}
.flaticon-opera:before {
	content: "\e010";
}
.flaticon-person21:before {
	content: "\e011";
}
.flaticon-personal7:before {
	content: "\e012";
}
.flaticon-postage:before {
	content: "\e013";
}
.flaticon-print22:before {
	content: "\e014";
}
.flaticon-stamp1:before {
	content: "\e015";
}
.flaticon-user3:before {
	content: "\e016";
}
.flaticon-user37:before {
	content: "\e017";
}
